.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "tag window"
    "tag input"
    ;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
}

.tag{
    position: fixed;
    grid-area: 'tag';
    left: 0;
    background-color: aqua;
    width: 20%;
    border: solid 0.5px rgb(255, 255, 255);
    min-height: 100%;
    max-height: fit-content;
}
.window{
    position: relative;
    grid-area: 'widnow';
    width: 100%;
    background-color: aqua;
    right: 0;
    

}
.message-window{
    border: blue;
    width: 100%;
}
.scroll-auto {
    -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
  }
.inputForm{
    position: fixed;
    grid-area: 'input';
    bottom: 0;
    left:20%;
    background-color: gray;
    width: 80%;
}
.inp-text{ 
    width: 80%;
    height: 50px;
}
.inp-user{
    margin-top: 1%;
    width: 10%;
}
.user,.text{
    display: flex;
    flex-direction: column;
    margin-left:5%;
    margin-top:1%;
}
.submit-message{
    margin-bottom: 1%;
}
.submit-message button{
    margin:auto;
}
.form{
    width: 100%;
    background-color: red;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;

}