
.container{
    width: 100vw;
    height: 100vh;
}
.header{
    width: 100vw;
    height: 10px;
    top: 0;
    left: 0;
    background-color: rgb(63, 63, 100);
    color: white;
    position: fixed;
    z-index: 10;
}
body{
    margin-top: 100px;
    width: 100%;
    min-height: calc(100vh - 100px);    
    max-height: fit-content;
}